<div class="container">
    <h2>Striped Rows</h2>
    <p>The .table-striped class adds zebra-stripes to a table:</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cv of curriculum">
                <td>{{ cv.firstname }}</td>
                <td>{{ cv.lastname }}</td>
                <td>{{ cv.email }}</td>
                <td><a [routerLink]="['/edit', cv._id]" class="btn btn-primary">Edit</a></td>
                <td><a [routerLink]="" class="btn btn-danger">Delete</a></td>
            </tr>
        </tbody>
    </table>
</div>