<div class="container">
    <h2>Striped Rows</h2>
    <p>
        <a [routerLink]="['/curriculum/new']" class="btn btn-primary">Nuevo</a>
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cv of curriculum">
                <td>{{ cv.firstname }}</td>
                <td>{{ cv.lastname }}</td>
                <td>{{ cv.email }}</td>
                <td><a [routerLink]="['/curriculum/edit', cv._id]" class="btn btn-primary">Edit</a></td>
                <td><a [routerLink]="" (click)="delete(cv._id)" class="btn btn-danger">Delete</a></td>
            </tr>
        </tbody>
    </table>
</div>